<div id="view-product-modal" class="modal-overlay hidden">
    <div class="modal-content large">
        <header class="modal-header">
            <h2 id="view-product-name">Nama Produk</h2>
            <button id="close-view-modal-button" class="close-button">&times;</button>
        </header>
        <div class="modal-body">
            <div id="view-product-image" class="view-image"></div>
            <div class="view-product-info">
                <div class="detail-group">
                    <div class="detail-item">
                        <h4>Harga</h4>
                        <p id="view-product-price">Rp 0</p>
                    </div>
                    <div class="detail-item">
                        <h4>Stok</h4>
                        <p id="view-product-stock">0</p>
                    </div>
                </div>
                <hr>
                <div class="detail-item">
                    <h4>Deskripsi</h4>
                    <p id="view-product-description" class="description-text">...</p>
                </div>
            </div>
        </div>
    </div>
</div>